@media (min-width: 20em){
body {
    width: 100%;
    height: auto;
    float: left;
    background-color: rgb(12, 137, 175);
    font-family: Georgia;
    font-size: medium;
    line-height: 1.5em;
    padding-left: 3em;
    margin-top: 5em;
}
}

@media (min-width: 5em){
    .bunner {
      margin-left: -0.5em;
    }

    .logo{
      background-color: transparent;
        width: 6em;
        height: auto;
        float: left;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .firmenname1 {
        background-color: transparent;
        width: 100em;
        height: auto;
        float: left;
        margin-left: 3em;
        margin-bottom: 1em;
        font-size: xx-large;
        position: absolute;
    }
}

  /* Menue style */

nav {
  margin-left: 1em;
}

.navbar-toggler {
  margin-left: 4em;
}


  .navbar-item {
    border-style: solid;
  }

  .home {
    background-color: transparent;
    
    border-radius: 20em;
    padding-left: 1em;
    padding-right: 2em;

  }

  .leistungen {
    background-color: transparent;
    margin-left: -2em;
    margin-right: 2em;
    padding-left: 3em;
  }

  .bildergallerie {
    background-color: transparent;
    margin-left: -2em;
    margin-right: 2em;
    padding-left: 3em;
  }

  .stellenangebote {
    background-color: transparent;
    margin-left: -2em;
    margin-right: 2em;
    padding-left: 3em;
  }

  .kontakt {
    background-color: transparent;
    margin-left: -2em;
    margin-right: 3em;
    padding-left: 3em;
  }

  .dropdown-menu {
    background-color: transparent;
    border: none;
  }


  .kontakt_adresse {
    margin-left: 2.5em;
  }


  .links {
    background-color: transparent;
    margin-left: -2em;
    margin-right: 2em;
    padding-left: 3em;
  }

  .datenschutz {
    background-color: transparent;
    margin-left: -2em;
    margin-right: 2em;
    padding-left: 3em;
  }

  .impressum {
    background-color: transparent;
    margin-left: -2em;
    margin-right: 2em;
    padding-left: 3em;
  }


  a {
    text-decoration: none;
    color: black;
  }

   /* Container Suche */
   #suche, .suche {
    outline: black;
    margin-left: -0.2em;
  }
  .suchen {
    margin-left: 7em;
    padding-top: 2em;
  }

@media(min-width: 40em){
  .picshome {
    width: 50em;
    height: auto;
    float: left;
    padding-bottom: 1em;
    margin-left: 6.8em;
    border-radius: 10em;
  }

    .text {
        width: 50em;
        height: auto;
        margin-left: 7em;
    }
  }


.inhalt {
    background-color: transparent;
    width: 100%;
    height: auto;
    float: left;     
}

#unten {
    font-size: large;
    margin-left: 40em;
    line-height: 5em;
}

@media (min-width: 20em){
  address {
      font-size: xx-small;
      font-weight: lighter;
      line-height: 1.5em;
      margin-left: 13em;
      padding-top: 5em;
  }
}

.title {
    font-weight: bold;
}

.email {
    color: blue;
    text-decoration-line: underline;
    tab-size: 50%;
}

.name {
    color: blue;
    text-decoration-line: underline;
}

/* für leistungen */
ul {
    margin-left: 5%;
}

/* für bildergallerie */
* {
    box-sizing: border-box;
  }

  .row {
    padding-left: 7em;
  }
  
  .row > .column {
    padding: 1em;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25em;
    margin-bottom: 2em;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #1a1414;
    margin: auto;
    padding: 0;
    width: 50em;
    max-width: 70em;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 20em;
    width: auto;
    padding: 2em;
    margin-top: -20em;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3% 0 0 3%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: transparent;
  }
  
  /* Number text (1/10 etc) */
  .numbertext {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: 0%;
    border-radius: 2em;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2em 16em;
    color: white;
  }
  
  .demo {
    opacity: 0.6px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* stellenangebote */
  .picsstelle{
    width: 50em;
    height: auto;
    border-radius: 2em;
  }

  /* kontakte */
  .map{
    width: 60em;
    height: 50em;
    border-radius: 2em;
  }

  h3, h2 {
    line-height: 2em;
  }

  /* kontaktformular */
  @media (min-width: 50em){
    .kontakt_formular, .feld_gruppe  {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 0.3em;
    }
    .absenden {
      margin-top: -0.5em;
      margin-bottom: 2em;
      margin-left: 0.3em;
    }

  }
  /* Links */
  .verlinkung {
    text-decoration: underline;
    color: blue; 
  }

  .ueberschriftabstend {
    line-height: 5em;
    margin-bottom: -1.5em;
  }

  /* Datenschutz */

  /* Impressum */
  .impressumdaten{
    padding: -5em;
  }

  /* Druckansicht */
  @media print {
    /* Versteckt das Datum, die Uhrzeit und den Dateinamen in der Kopfzeile */
    @page {
      size: auto;
      margin: 0;
    }

    head {
      display: none;
    }

    /* Versteckt den die Menueleiste und suche in der Kopfzeile */
    .navbar-brand, .navbar-toggler {
      display: none;
    }

    /* Versteckt den Absende Button */
    .absenden {
      display: none;
    }
  }