body {
    width: 100%;
    height: auto;
    float: left;
    background-color: rgb(12, 137, 175);
    font-family: Georgia;
    font-size: medium;
    line-height: 150%;
    padding-left: 2%;
}

.img-fluid{
    width: 20%;
    height: auto;
}

@media (min-width:25em ){
    .logo {
        background-color: transparent;
        width: 10%;
        height: auto;
        float: left;
        border-radius: 20%;
    }

    .firmenname1 {
        background-color: transparent;
        width: 80%;
        height: auto;
        float: left;
        margin-left: 2%;
        font-size: x-large;
    }
}

.menueliste {
    width: 100%;
    height: auto;
    float: left;
    text-align: left;
}

.home {
    background-color: transparent;
}

#suche {
    outline: black;
}

.menue {
    background-color: transparent;
    width: 100%;
    height: 10%;
    float: left;
    padding: 1%;
}

a {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    padding: 10%;
}

@media (min-width:15em){
    .picshome {
        width: 50%;
        height: auto;
        float: left;
        padding-bottom: 1%;
        margin-left: 5%;
        border-radius: 20%;
    }

    .text {
        width: 100%;
        height: auto;
        margin: 5%;
    }
}


.inhalt {
    background-color: transparent;
    width: 100%;
    height: auto;
    float: left;     
}

#unten {
    font-size: x-small;
    margin-left: 40%;
    margin-bottom: 5%;
}

address {
    font-size: xx-small;
    font-weight: lighter;
    line-height: 150%;
    padding-left: 3%;
}

.title {
    font-weight: bold;
}

.email {
    color: blue;
    text-decoration-line: underline;
    tab-size: 50%;
}

.name {
    color: blue;
    text-decoration-line: underline;
}

/* für leistungen */
ul {
    margin-left: 5%;
}

/* für bildergallerie */
* {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 2%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 5%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #1a1414;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 6%;
    margin-top: -30%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3% 0 0 3%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: transparent;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: 0%;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* stellenangebote */
