body {
    background-color: rgb(12, 137, 175);
    font-family: Georgia;
    font-size: medium;
    line-height: 150%;
}
.menueliste {
    width: 100%;
    height: 10%;
    float: left;
}

.logo {
    width: 10%;
    height: auto;
    float: left;
    border-radius: 20%;
}

.name_der_firma { 
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    width: 80%;
    height: 10%;
    float: left;
    padding: 4%;
    font-size: xx-large;
}


.menue {
    background-color: transparent;
    width: 100%;
    height: 10%;
    float: left;
    padding: 1%;
}


a {
    text-decoration: none;
    color: black;
}

.home {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left ;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;

}

.home:hover {
    background-color: rgb(43, 159, 226);
}

.leistungen {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.leistungen:hover {
    background-color: rgb(43, 159, 226);
}

.bildergallerie {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.bildergallerie:hover {
    background-color: rgb(43, 159, 226);
}

.stellenangebote {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.stellenangebote:hover {
    background-color: rgb(43, 159, 226);
}

.kontakt_forumular {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.kontakt_forumular:hover {
    background-color: rgb(43, 159, 226);
}

.links {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.links:hover {
    background-color: rgb(43, 159, 226);
}

.datenschutz {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.datenschutz:hover {
    background-color: rgb(43, 159, 226);
}

.impressum {
    background-color: aqua;
    outline: rgb(12, 151, 194);
    outline-style: outset;
    outline-width: 2px;
    width: 10%;
    height: auto;
    float: left;
    border-radius: 5%;
    font-size: xx-small;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.impressum:hover {
    background-color: rgb(43, 159, 226);
}

.pics {
    width: 800%;
    height: auto;
    float: left;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.inhalt {
    background-color: transparent;
    width: 100%;
    height: auto;
    float: left;     
}
p {
    margin: 10%;
}

.kontakte {
    width: auto;
    height: 10%;
    font-size: x-small;
}

.email {
    color: blue;
    text-decoration-line: underline;
    tab-size: 50%;
}

.name {
    color: blue;
    text-decoration-line: underline;
}